<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecomApp.student.home.title">Students</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student" [routerLink]="['/student/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ecomApp.student.home.createLabel">
            Create a new Student
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="students?.length === 0">
        <span jhiTranslate="ecomApp.student.home.notFound">No students found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="students && students.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.student.sportLevel">Sport Level</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.student.drivingLicence">Driving Licence</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.student.meetingPlace">Meeting Place</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.student.internalUser">Internal User</span></th>
                    <th scope="col" ><span jhiTranslate="ecomApp.student.cursus">Cursus</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students ;trackBy: trackId">
                    <td><a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a></td>
                    <td jhiTranslate="{{ 'ecomApp.SportLevel.' + student.sportLevel }}">{{ student.sportLevel }}</td>
                    <td>{{ student.drivingLicence }}</td>
                    <td jhiTranslate="{{ 'ecomApp.MeetingPlace.' + student.meetingPlace }}">{{ student.meetingPlace }}</td>
                    <td>
                        {{ student.internalUser?.id }}
                    </td>
                    <td>
                        <div *ngIf="student.cursus">
                            <a [routerLink]="['/cursus', student.cursus?.id, 'view']" >{{ student.cursus?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/student', student.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/student', student.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(student)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
